name: Build and Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # Ganti ke branch utama Anda
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.0'

    - name: Enable web
      run: flutter config --enable-web

    - name: Get dependencies
      run: flutter pub get

    - name: Build web
      run: flutter build web --release --base-href "/debt_tracker/"  # Ganti base-href sesuai repo

    - name: Copy additional files
      run: |
        cp web/manifest.json build/web/
        cp -r web/icons/* build/web/icons/
        cp web/favicon.png build/web/

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build/web